{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'Espoire/css/main.css' %}">
</head>
<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-transactions">
			  	<div class="card-header">
			  		<h5 class="card-title" id="head">Total Transactions</h5>
			  	</div>
			  	<div class="card-body">

			    	<h3 class="card-title">{{ transactions.all.count }}</h3>
			  	</div>
			</div>
		</div>
	</div>

</div>
</html>