{%  extends 'Espoire/main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Transactions</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Transaction Type</th>
							<th>Amount</th>
							<th>Number</th>
                            <th>Name</th>
							<th>Transaction ID</th>
							<th>Date & Time</th>
						</tr>

						{% for i in transactions %}
							<tr>
								<td>{{i.trans_type}}</td>
								<td>{{i.amount}}</td>
								<td>{{i.number}}</td>
                                <td>{{i.name}}</td>
								<td>{{i.trans_id}}</td>
								<td>{{i.date}}</td>
							</tr>
						{% endfor %}

					</table>
				</div>
			</div>

		</div>

{% endblock content %}