{%  extends 'Espoire/main.html' %}

{% block content %}

    <center>
    <h1>Add a New Transaction</h1>
    <br /><br />
    {% if submitted %}
        Your Transaction Has Been Recorded Successfully😁!!!
        <br /><br />

			<a class="btn btn-info   btn btn-primary btn-lg " href="{% url 'newform' %}">Enter New Transaction</a>
			<table class="table table-sm">


			</table>


    {% else %}

        <form action="", method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Submit" class="btn btn-primary">

        </form>
    {% endif %}
    </center>

{% endblock %}